.container {
  width: 100%;

  &__header {
    width: 100%;
    padding: 2.5rem;
    margin-bottom: 5.5rem;
  }

  &__nav {
    display: flex;
    justify-content: space-between;
    align-items: center;

    &__logo {
      width: 8rem;
    }

    &__list {
      display: flex;
      list-style: none;
      gap: 2rem;

      &__link {
        font-size: 1.3rem;
        text-decoration: none;
        color: $Desaturated-Blue;
        font-family: "Raleway", sans-serif;
        font-weight: 400;
        position: relative;

        &::after {
          content: "";
          position: absolute;
          width: 0;
          height: 2px;
          background-color: $Desaturated-Blue;
          bottom: -5px;
          left: 0;
          transition: all 0.3s;
        }

        &:hover::after {
          width: 100%;
        }
      }
    }
  }
}

@media screen and (min-width: 260px) {
  .container__header {
    padding: 2rem 0.5rem 1rem 1rem;
  }

  .container__nav__logo {
    width: 6rem;
  }
}

@media screen and (min-width: 360px) {
  .container__header {
    padding: 2.5rem;
  }
}

@media screen and (min-width: 768px) {
  .container__header {
    padding: 3rem;
  }

  .container__nav__list {
    gap: 4rem;
  }
  .container__nav__logo {
    width: 11rem;
  }

  .container__nav__list__link {
    font-size: 1.7rem;
  }
}
@media screen and (min-width: 1200px) {
  .container__header {
    padding: 3rem 6rem;
    margin-bottom: 7rem;
  }
  .container__nav__logo {
    width: 13rem;
  }

  .container__nav__list__link {
    font-size: 2rem;
  }
}
@media screen and (min-width: 1200px) {
  .container__header {
    margin-bottom: 9rem;
  }
}

@media screen and (min-width: 1920px) {
  .container__header {
    padding: 5rem 10rem;
  }
  .container__nav__logo {
    width: 15rem;
  }

  .container__nav__list__link {
    font-size: 2.5rem;
  }
}
