.container {
  width: 100%;

  &__header {
    width: 100%;
    padding: 2.5rem;
  }

  &__nav {
    display: flex;
    justify-content: space-between;
    align-items: center;

    &__logo {
      width: 8rem;
    }

    &__list {
      display: flex;
      list-style: none;
      gap: 2rem;

      &__link {
        font-size: 1.3rem;
        text-decoration: none;
        color: $Desaturated-Blue;
        font-family: "Raleway", sans-serif;
        font-weight: 400;
      }
    }
  }
}
