*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Open Sans", sans-serif;
  height: 100vh;
}

.container {
  width: 100%;
}

.container__header {
  width: 100%;
  padding: 2.5rem;
  margin-bottom: 5.5rem;
}

.container__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container__nav__logo {
  width: 8rem;
}

.container__nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  gap: 2rem;
}

.container__nav__list__link {
  font-size: 1.3rem;
  text-decoration: none;
  color: #585989;
  font-family: "Raleway", sans-serif;
  font-weight: 400;
}

@media screen and (min-width: 768px) {
  .container__header {
    padding: 3rem;
  }
  .container__nav__list {
    gap: 4rem;
  }
  .container__nav__logo {
    width: 11rem;
  }
  .container__nav__list__link {
    font-size: 1.9rem;
  }
}

@media screen and (min-width: 1200px) {
  .container__header {
    padding: 3rem 6rem;
  }
  .container__nav__logo {
    width: 13rem;
  }
  .container__nav__list__link {
    font-size: 2rem;
  }
}

@media screen and (min-width: 1920px) {
  .container__header {
    padding: 5rem 10rem;
  }
  .container__nav__logo {
    width: 15rem;
  }
  .container__nav__list__link {
    font-size: 2.5rem;
  }
}

.container__files {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 2.5rem 2.5rem;
}

.container__files__img {
  width: 30rem;
  margin-bottom: 3rem;
}

.container__files__text-box {
  width: 100%;
  text-align: center;
  font-family: "Raleway", sans-serif;
}

.container__files__header {
  font-weight: 700;
  font-size: 2.4rem;
  line-height: 4rem;
  color: #070439;
  margin-bottom: 2.5rem;
}

.container__files__about-files {
  width: 90%;
  margin: 0 auto;
  color: #070439;
  font-size: 1.7rem;
  line-height: 2.5rem;
  margin-bottom: 3rem;
}

.container__files__text-input {
  width: 90%;
  height: 4.5rem;
  border-radius: 0.5rem;
  border: 1px solid #585989;
  padding-left: 2rem;
  margin-bottom: 1.5rem;
}

.container__files__text-input::-webkit-input-placeholder {
  color: #bfbfbf;
}

.container__files__text-input:-ms-input-placeholder {
  color: #bfbfbf;
}

.container__files__text-input::-ms-input-placeholder {
  color: #bfbfbf;
}

.container__files__text-input::placeholder {
  color: #bfbfbf;
}

.container__files__btn {
  width: 90%;
  height: 4.5rem;
  border-radius: 0.5rem;
  border: none;
  background-color: #3065f8;
  color: #f6f6fe;
  font-weight: bold;
  font-size: 1.6rem;
}
/*# sourceMappingURL=main.css.map */