*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  font-family: "Open Sans", sans-serif;
  height: 100vh;
  font-weight: 400;
}

.container {
  width: 100%;
}

.container__header {
  width: 100%;
  padding: 2.5rem;
  margin-bottom: 5.5rem;
}

.container__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container__nav__logo {
  width: 8rem;
}

.container__nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  gap: 2rem;
}

.container__nav__list__link {
  font-size: 1.3rem;
  text-decoration: none;
  color: #585989;
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  position: relative;
}

.container__nav__list__link::after {
  content: "";
  position: absolute;
  width: 0;
  height: 2px;
  background-color: #585989;
  bottom: -5px;
  left: 0;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.container__nav__list__link:hover::after {
  width: 100%;
}

@media screen and (min-width: 260px) {
  .container__header {
    padding: 2rem 0.5rem 1rem 1rem;
  }
  .container__nav__logo {
    width: 6rem;
  }
}

@media screen and (min-width: 360px) {
  .container__header {
    padding: 2.5rem;
  }
}

@media screen and (min-width: 768px) {
  .container__header {
    padding: 3rem;
  }
  .container__nav__list {
    gap: 4rem;
  }
  .container__nav__logo {
    width: 11rem;
  }
  .container__nav__list__link {
    font-size: 1.7rem;
  }
}

@media screen and (min-width: 1200px) {
  .container__header {
    padding: 3rem 6rem;
    margin-bottom: 7rem;
  }
  .container__nav__logo {
    width: 13rem;
  }
  .container__nav__list__link {
    font-size: 2rem;
  }
}

@media screen and (min-width: 1200px) {
  .container__header {
    margin-bottom: 9rem;
  }
}

@media screen and (min-width: 1920px) {
  .container__header {
    padding: 5rem 10rem;
  }
  .container__nav__logo {
    width: 15rem;
  }
  .container__nav__list__link {
    font-size: 2.5rem;
  }
}

.container__files {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 2.5rem 2.5rem;
  margin-bottom: 10rem;
}

.container__files__img {
  width: 30rem;
  margin-bottom: 3rem;
}

.container__files__text-box {
  width: 100%;
  text-align: center;
  font-family: "Raleway", sans-serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.container__files__header {
  font-weight: 700;
  font-size: 2.4rem;
  line-height: 3.5rem;
  color: #070439;
  margin-bottom: 2.5rem;
}

.container__files__about-files {
  width: 90%;
  margin: 0 auto;
  color: #070439;
  font-size: 1.7rem;
  line-height: 2.5rem;
  margin-bottom: 3rem;
}

.container__files__text-input {
  width: 90%;
  height: 4.5rem;
  border-radius: 0.5rem;
  border: 1px solid #585989;
  padding-left: 2rem;
  margin-bottom: 1.5rem;
}

.container__files__text-input::-webkit-input-placeholder {
  color: #bfbfbf;
}

.container__files__text-input:-ms-input-placeholder {
  color: #bfbfbf;
}

.container__files__text-input::-ms-input-placeholder {
  color: #bfbfbf;
}

.container__files__text-input::placeholder {
  color: #bfbfbf;
}

.container__files__btn {
  width: 90%;
  height: 4.5rem;
  border-radius: 0.5rem;
  border: none;
  background-color: #3065f8;
  color: #f6f6fe;
  font-weight: bold;
  font-size: 1.6rem;
  font-family: "Raleway", sans-serif;
  cursor: pointer;
}

.container__files__search {
  width: 100%;
}

@media screen and (min-width: 412px) {
  .container__files__header {
    font-size: 2.6rem;
  }
}

@media screen and (min-width: 768px) {
  .container__files {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
    padding: 3rem;
    gap: 2rem;
  }
  .container__files__img {
    width: 33rem;
    margin: 0;
  }
  .container__files__text-box {
    text-align: left;
  }
  .container__files__header {
    margin-bottom: 1rem;
    line-height: 3.5rem;
    font-size: 2.7rem;
  }
  .container__files__about-files {
    font-size: 1.149rem;
    line-height: 1.6rem;
    margin: 0 0 2rem 0;
  }
  .container__files__search {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 1.5rem;
  }
  .container__files__text-input {
    width: 53%;
    height: 3.5rem;
    margin: 0;
  }
  .container__files__btn {
    width: 35%;
    height: 3.5rem;
    font-size: 1.1rem;
  }
}

@media screen and (min-width: 820px) {
  .container__files__header {
    font-size: 2.9rem;
    line-height: 4rem;
  }
}

@media screen and (min-width: 912px) {
  .container__files__header {
    font-size: 3.5rem;
    line-height: 4.5rem;
  }
  .container__files__img {
    width: 38rem;
  }
}

@media screen and (min-width: 1200px) {
  .container__files {
    padding: 0 5rem;
    gap: 3rem;
  }
  .container__files__img {
    width: 44rem;
  }
  .container__files__header {
    line-height: 5rem;
    font-size: 4rem;
    margin-bottom: 2rem;
  }
  .container__files__about-files {
    width: 80%;
    font-size: 1.6rem;
    line-height: 2rem;
  }
  .container__files__text-input {
    width: 58%;
    margin: 0;
    height: 4rem;
    font-size: 2rem;
  }
  .container__files__text-input::-webkit-input-placeholder {
    font-size: 1.5rem;
  }
  .container__files__text-input:-ms-input-placeholder {
    font-size: 1.5rem;
  }
  .container__files__text-input::-ms-input-placeholder {
    font-size: 1.5rem;
  }
  .container__files__text-input::placeholder {
    font-size: 1.5rem;
  }
  .container__files__btn {
    width: 30%;
    font-size: 1.3rem;
    height: 4rem;
  }
}

@media screen and (min-width: 1440px) {
  .container__files__img {
    width: 52rem;
  }
  .container__files__header {
    line-height: 7.5rem;
    font-size: 6rem;
    margin-bottom: 3rem;
  }
  .container__files__about-files {
    width: 80%;
    font-size: 2.2rem;
    line-height: 3rem;
    margin-bottom: 3rem;
  }
  .container__files__text-input {
    height: 5.5rem;
  }
  .container__files__text-input::-webkit-input-placeholder {
    font-size: 2rem;
  }
  .container__files__text-input:-ms-input-placeholder {
    font-size: 2rem;
  }
  .container__files__text-input::-ms-input-placeholder {
    font-size: 2rem;
  }
  .container__files__text-input::placeholder {
    font-size: 2rem;
  }
  .container__files__btn {
    font-size: 1.5rem;
    height: 5.5rem;
  }
}

@media screen and (min-width: 1920px) {
  .container__files {
    padding: 0 5rem;
    gap: 3rem;
  }
  .container__files__img {
    width: 70rem;
  }
  .container__files__header {
    line-height: 7.5rem;
    font-size: 6.5rem;
    width: 80%;
  }
  .container__files__about-files {
    width: 80%;
    font-size: 2.7rem;
    line-height: 3.5rem;
    margin-bottom: 3rem;
  }
  .container__files__text-input {
    width: 58%;
    margin: 0;
    height: 6.5rem;
  }
  .container__files__text-input::-webkit-input-placeholder {
    font-size: 2rem;
  }
  .container__files__text-input:-ms-input-placeholder {
    font-size: 2rem;
  }
  .container__files__text-input::-ms-input-placeholder {
    font-size: 2rem;
  }
  .container__files__text-input::placeholder {
    font-size: 2rem;
  }
  .container__files__btn {
    width: 30%;
    font-size: 2rem;
    height: 6.5rem;
  }
}

.container__main {
  width: 100%;
  position: relative;
  background-color: #cfcfe71f;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container__main__curve {
  position: relative;
  top: -3.5rem;
  left: 0;
}

.container__main__curve-desktop {
  display: none;
}

.container__main__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container__main__img {
  width: 32rem;
  margin-bottom: 9rem;
}

.container__main__header {
  color: #070439;
  font-size: 1.7rem;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  text-align: center;
  margin-bottom: 3.5rem;
}

.container__main__text-box {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container__main__text {
  width: 90%;
  color: #585989;
  margin-bottom: 2.5rem;
  text-align: left;
  font-size: 1.5rem;
}

.container__main__text:nth-child(3) {
  margin-bottom: 4rem;
}

.container__main__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container__main__btn {
  color: #3c9f8f;
  margin-bottom: 5rem;
  font-size: 1.5rem;
  text-decoration: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-bottom: 1px solid #3c9f8f;
  padding-bottom: 0.5rem;
  cursor: pointer;
}

.container__main__arrow {
  margin-left: 0.7rem;
}

.container__main__opinion-card {
  width: 80%;
  height: 190px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  background-color: white;
  -webkit-box-shadow: 0 0 10px rgba(223, 223, 223, 0.73);
          box-shadow: 0 0 10px rgba(223, 223, 223, 0.73);
  padding: 3rem 3.5rem;
  margin-bottom: 10rem;
  border-radius: 2rem;
}

.container__main__opinion-text {
  color: #070439;
  line-height: 1.8rem;
  font-size: 1.2rem;
  margin-bottom: 1.5rem;
}

.container__main__quotes {
  width: 1.5rem;
  margin-bottom: 1rem;
}

.container__main__user {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1rem;
}

.container__main__user-avatar {
  width: 3rem;
  border-radius: 50%;
}

.container__main__user__details {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 0.3rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.container__main__user-name {
  color: #070439;
  font-family: "Raleway", sans-serif;
  font-weight: bold;
}

.container__main__user-job {
  color: #070439;
  font-size: 0.8rem;
}

@media screen and (min-width: 360px) {
  .container__main__opinion-card {
    height: 210px;
  }
}

@media screen and (min-width: 375px) {
  .container__main__opinion-card {
    height: 190px;
  }
}

@media screen and (min-width: 768px) {
  .container__main__box {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
  }
  .container__main__text-box {
    padding: 3rem 0 0 3rem;
    width: 60%;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .container__main__header {
    font-size: 2.5rem;
  }
  .container__main__text {
    margin-bottom: 1.5rem;
  }
  .container__main__text:nth-child(3) {
    margin-bottom: 1.5rem;
  }
}

@media screen and (min-width: 1200px) {
  .container__main__box {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .container__main__header {
    font-size: 3.5rem;
  }
  .container__main__curve {
    display: none;
  }
  .container__main__curve-desktop {
    display: block;
    position: relative;
    left: 0;
    top: -4rem;
    width: 100rem;
  }
  .container__main__opinion-card {
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    width: 44%;
  }
  .container__main__img {
    width: 40rem;
  }
  .container__main__arrow {
    width: 2rem;
  }
  .container__main__text {
    font-size: 2rem;
    width: 70%;
  }
}

@media screen and (min-width: 1440px) {
  .container__main__img {
    width: 55rem;
  }
  .container__main__box {
    width: 100%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .container__main__text-box {
    width: 50%;
  }
}

@media screen and (min-width: 1920px) {
  .container__main__box {
    width: 100%;
  }
  .container__main__header {
    font-size: 5rem;
  }
  .container__main__text {
    font-size: 2rem;
    width: 55%;
  }
  .container__main__text-box {
    width: 60%;
  }
  .container__main__btn {
    font-size: 2.2rem;
  }
  .container__main__curve {
    display: none;
  }
  .container__main__curve-desktop {
    display: block;
    position: relative;
    left: 0;
    top: -4rem;
    width: 100rem;
  }
  .container__main__opinion-card {
    width: 45%;
  }
  .container__main__opinion-text {
    font-size: 1.7rem;
    line-height: 2.4rem;
  }
  .container__main__img {
    width: 60rem;
  }
  .container__main__user-avatar {
    width: 5rem;
  }
  .container__main__user-name {
    font-size: 2rem;
  }
  .container__main__user-job {
    font-size: 1.3rem;
  }
  .container__main__arrow {
    width: 2.5rem;
  }
}
/*# sourceMappingURL=style.css.map */